
<h2> TinyURL App Version 1.4 </h2>
<% console.log('passed in user object: ', user) %>

<% if(user !== undefined ) { %>
  <h3> Signed in as: <%= user.email %> </h3>
  <form class="form-inline" action="/logout" method="POST">
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>
<% } else { %>
  <form class="form-inline" action="/login" method="GET">
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <form class="form-inline" action="/register" method="GET">
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
<% } %>





