<h2> TinyURL App Version 1.1 Cookies </h2>

<form class="form-inline" action="/login" method="POST">
  <label for="name">Username</label>
  <input class="form-control" type="text" name="username" style="width: 300px; margin: 1em">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h3> Signed in as: <%= username %> </h3>

