<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<header>
  <% include ./partials/_header %>
</header>

<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h2>Show Single URL</h2>

      <ul>
            <% if (user_id) { %>
              <li> <a href="#"> <%= shortURL %> </a> is for website: <%= longURL %> </li>
              <li>
                <form class="form-inline" action="/urls/<%= shortURL %>/update" method="POST">
                  <label for="longURL">Enter NEW URL:</label>
                  <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
              </li>
            <% } %>
      </ul>
</body>

</html>